@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

html {
    font-size: 16px;
}

.ant-select-selector {
    border: 2px solid #B57EDC !important;
    background: #222222 !important;
}
.ant-select-selector input {
    color: white !important;
}
.ant-select-selection-placeholder {
    color: white !important;

}
@media only screen and (max-width: 1322px) {
    html {
        font-size: 14px;
    }
  }
  @media only screen and (max-width: 818px) {
    html {
        font-size: 13px;
    }
  }
  @media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
  }
  @media only screen and (max-width: 400px) {
    html {
        font-size: 11px;
    }
  }